@use '../Sass/util/'as u;
.cart__container{
    padding-top: 5rem;
    margin-inline: 1rem;
    &__header{
        width: calc(100% - 2rem);
        position: fixed;
        display: flex;
        justify-content: flex-end;
        //    padding-inline: 1rem;
        font-size: 1.3rem;
        color: u.$rose;
        
        padding: 1rem 0rem;
        border-bottom: 2px solid u.$darkBrown;
        h3{
            right: 0; 
        }
    }
    &__cards{
        height: 100vh;
        position: relative;
        overflow-y: auto;
        display: grid;
        align-items: start;
        top: 5rem;
        justify-items: center;
    }
    &__footer{
        position: fixed;
        bottom: .3rem;
        width: 100vw;
        color: u.$bg;
        width: calc(100% - 3rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: u.$rose;
        padding: .5rem;
        border-radius: 15px;
        &__product{
            margin-left: 2rem;
            display: flex;
            gap: 3rem;
        }
        &-btn{
            margin-right: 2rem;
            background-color: u.$bg;
            border-radius: 5px;
            border: none;
            color:u.$rose;
            font-size: 1rem;
            padding-inline: 10px;
            padding-block: 5px;
            cursor: pointer;
        }
    }
}