.home_container{
    background-size: cover;
    .home_card_container{
        width: max-content;
        min-width: 100%;
        position: absolute;
        overflow-x: auto;
        top: 50%;
        gap: 40px;
        display: flex;
        
    }
}