.home_container{
    height: 100vh;
    padding-top: 4rem;
    width: 100vw;
    gap:100px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background: linear-gradient(180deg, #FFCACA 0%, #F8B9FE 100%);
    .home_card_container{
        position: absolute;
        overflow-x: auto;
        top: 50%;
        width: 100vw;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        // width:;
    }
}