@use '../Sass/util/'as u;
.products__container{
    overflow-y: auto;
    // height: 100%;
    background-color: linear-gradient(180deg, #FCF7F0 0%, rgba(255, 253, 250, 0.1) 100%);
    &__nav{
        background-color: rgb(255, 255, 255);
        padding-top: 5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        
        width: 100%;

        &-search{
            outline: none;
            margin-inline: auto;
            background: rgba(217, 217, 217, 0.61);
            padding-inline: 1rem;
            padding-block: .2rem;
            border: none;
            // border: 1px solid u.$rose;
            border-radius: 10px;
            width: 40vw;
            min-width: 280px;
            margin-inline: auto auto;
        }
        &-links{
            width: 100vw;
            ul{
                padding-top: 2rem;
                .nav-links{
                    cursor: pointer;
                }
                display: flex;
                justify-content: space-between;
                width: 50%;
                margin: auto auto auto auto;
                a{
                    // cursor: pointer;
                    color:u.$rose ;
                    font-size: 1.5rem;
                    margin-block: 2rem;
                    text-decoration: none;
                    width: 90px;
                    text-align: center;
        
                }
            }
        }

    }
    .home__card{
        margin-top:2rem;
    }
}