@use '../../Sass/util/'as u;

.navbar{
    z-index: 2;
    .nav_list{
        margin-top: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    position: fixed;
    width: 100%;
    padding-block: .5rem;
    &_header{
        color: u.$rose;
        margin-left: 1rem;
        font-size: 2rem;
    }
    
    &_nav{
        padding-right: 2rem;
        display: flex;
        gap: 4.5rem;
        flex-direction: row;
        .nav-btn{
            margin-bottom: .5rem;
        }
        .login-btn{
            color: white;
            font-size: 1.3rem;
            text-decoration: none;
            background:u.$rose;
            padding-inline: .8rem;
            margin: auto auto;
            padding-block: .3rem;
            border-radius: 15px;
        }
        &_logo{
            a{
                color: u.$rose;
            }
            font-size: 2.3rem;
            display: none;
            color: black;
            cursor: pointer;
            @include u.breakpoint(small){
                display: flex;
            }
        }
    }
    &_hamburger{
        margin-right:1rem;
        &_line{
            width: 30px;
            height: 2px;
            background-color: black;
            margin: .4rem;
        }
        @include u.breakpoint(small){
            display: none;
        }
    }
    
}


